.crypto-header{
  padding: 7px;
  background-color: teal;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}
.crypto-header h1 {
  width: 100%;
  text-align: center;
  color: whitesmoke;
  text-shadow: ;
}
.crypto-header input{
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
  border-radius: 4px;

}

.coin {
  width: 15%;
  margin: 10px;
  border-radius: 6px;
  padding: 4px;
  background-color: slategray;
  color:whitesmoke;
  text-align: center;
}

.coin img {
  width: 60px;
  height: 60px;
}

.crypto-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

